/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
	padding-top: 3.5rem;
}

p {
	margin: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}